@{
    ViewBag.Title = "Tus Finanzas";
}
<h2>@ViewBag.Title.</h2>
<center>
<img src="~/Content/Como-Funciona.jpg" width="730" height="200" />
    </center>
<br><br><br>
<p>
    Esta Web disponde de una amplia informacion sobre las finanzas en incio,dando la informacion actual y veridica donde el cliente se peude informar.<br> como se ve en la imagen.<br>
    <img src="~/Content/incio1.png" width="830" height="300" /><br>
    <img src="~/Content/inicio2.png" width="830" height="300" />


</p> 
<br><br>
<p>
    Esta Web disponde de una de una seccion donde tenemos tips videos y consejos rapidos para tus finanzas,
    siendo una opcion eficaz de como llevar tus finanzas,<br> como se ve en la imagen.<br>
    <img src="~/Content/acer1.png" width="830" height="300" />

</p>
<br><br>
<p>
    Esta Web disponde de una base de datos en SQL Server donde cada usuario ingresa su informacion personal,
    previo al registro con un mail y contrasena,<br> como se ve en la imagen.<br>
    <img src="~/Content/reg.jpg" width="830" height="300" />
     
</p>











<address>
   Proyecto realizado en ASP>NET<br />
    Autor Juan Jose Cobos Bueno<br />
    Instituto Superior INAN<br>
    Sexto Ciclo Analisis en Sistemas<br>
    
</address>

